[Desktop Entry]
Name=winkeyerserial
StartupWMClass=winkeyerserial
GenericName=K6GTE winkeyerserial
Comment=Amateur Radio Communications
Exec=winkeyerserial
Icon=k6gte-pywinkey
Terminal=false
Type=Application
Categories=HamRadio;
